<%- include ('./components/header') %> <%- include ('./components/logo') %>
<section>
  <div class="form_convert">
    <form action="/convert" method="GET">
      <label for="from_cur">De:</label>
      <select name="from_cur" id="from_currency">
        <option value="USD">Dollar</option>
        <option value="BRL">Real</option>
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="CHF">Franco Suiço</option>
        <option value="JPY">Iene Japones</option>
        <option value="ARS">Peso Argentino</option>
      </select>
      <label for="to_cur">Para:</label>
      <select name="to_cur" id="to_currency">
        <option value="USD">Dollar</option>
        <option value="BRL">Real</option>
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="CHF">Franco Suiço</option>
        <option value="JPY">Iene Japones</option>
        <option value="ARS">Peso Argentino</option>
      </select>
      <label for="quantity">Quantidade</label>
      <input name="quantity" class="currency" type="text" />
      <button class="btn_convert" type="submit">Converter</button>
    </form>
  </div>
</section>
<%- include ('./components/footer') %>
